{% load static %}
<html>
<head>
    <title>Delhivery blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
    <div ALIGN="RIGHT">
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    {% else %}
    <div ALIGN="RIGHT">
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    </div>
    {% endif %}
    <h1><a href="/">Delhivery Blog</a></h1>
    <h2 style="color:grey;">Your Posts</h2>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>